{% extends 'polls/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="row add-row">
    {% load static %}
    <!-- <div class="col-lg-8"> -->
    <form action="/add/" method="post" class="add-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Add URecipe</h1>
        <div class="add-form-head col-lg-12">
            <label for="dish-image">{{ form.as_p }}</label>
            <input type="text" placeholder="Add title" class="recipe-title" name="title">
            <br>
            <!-- <p><label for="adding">Mention the steps required for making the dish below</label></p> -->
            <textarea name="adding" id="add-recipe" rows="10" cols="100" style="white-space: pre-wrap;"
                placeholder="Mention the steps required for making the dish.."></textarea>
        </div>
        <br>
        <div class="add-form-mid">
            <label for="ingredient-img">Ingredients</label>
            <a id="Add">Add Ingredient</a> <a id="Remove">Remove Ingredient</a>
            <script>$("#button").on("click", function () { $("body").scrollTop(0); });</script>
            <div id="textboxDiv"></div>
            <script>
                $(document).ready(function () {
                    $("#Add").on("click", function () {
                        $("#textboxDiv").append("<div><br><input type='text' name='ing_val' class='recipe-title'/><br></div>");
                    });
                    $("#Remove").on("click", function () {
                        $("#textboxDiv").children().last().remove();
                    });
                });  
            </script>


            <!-- <input type="file" name="ingredient" id="ingredient-img" multiple> -->
        </div>

        <div class="add-form-foot">

            <button type="submit"><img src="{% static 'polls/images/Add-Plus-More-256.webp' %}" alt=""
                    class="add-img">Add</button>
        </div>
    </form>
    <!-- </div> -->

</div>
{% endif %}

{% endblock content %}